{% extends "base.twig" %}

{% block title %}Tigra version {{ constant('TIGRA_VERSION') }}{% endblock %}
{% block container %}
    <div id="bg-top-left"></div>
    <div id="bg-bottom-right"></div>
    <div id="bg-middle"></div>
    <div class="t-center-element">
        <div class="jumbotron" style="overflow: hidden">
            <h1 class="display-4">Tigra</h1>
            <h4>version: {{ constant('TIGRA_VERSION') }}</h4>
            <h4>Core version: {{ constant('CORE_VERSION') }}</h4>
            <hr>
            <h1 class="display-4">Website '{{ constant('NAME_WEBSITE') }}'</h1>
            <h4>&alpha;lpha Version: {{ constant('VERSION_ALPHA')|raw }}</h4>
            <h4>&beta;eta Version: {{ constant('VERSION_BETA')|raw }}</h4>
            <h4>Production Version: {{ constant('VERSION')|raw }}</h4>
            <div id="version-back-button">
                <button type="button" class="btn btn-dark" onclick="window.history.back()"></button>
            </div>
        </div>
    </div>
{% endblock %}
